.user-dropdown-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  font-weight: 600;
  background-color: #B7B7B7;
  border-radius: 50%;
  font-size: 18px;
  margin: auto 8px;

  &::after {
    content: none;
  }
}
